@import url('style.css');

.tabs {
    position: fixed;
    top: 170px;
    left: 100px;
    transition: all 0.6s ease;
}

.tab-links li {
    list-style-type: none;
    /*display: inline-flex;*/
    display: inline-flex;
}

/* Style tab links */
.tab-links li button {
    background-color: #555;
    color: rgb(0, 0, 0);
    
    width: 576px;
    border: none;
    outline: none;
    cursor: pointer;
    
    /*padding: 14px 0 0 14px;*/
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    
    transition: all 0.3s ease;
}

.tablink-1 {
    border-top-left-radius: 30px;
}

.tablink-2 {
    border-top-right-radius: 30px;
}

/* Moving the tabs */
.change-tabs {
    left: 320px;
}

.tabs-nav button:hover {
    background-color: #777;
}
  
/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    border: 3px solid rgb(0, 0, 0);
    border-top: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 1152px;
    margin-left: 0;
    left: 1000px;
    background-color: rgb(240, 22, 240);
    display: none;
    padding: 15px 20px;
    height: 500px;
    transition: all 0.6s ease;
}

.tabcontent h3 {
    position: absolute;
    top: 1px;
    font-size: 40px;
    text-transform: uppercase;
}

.tabcontent li {
    position: relative;
    list-style-image: url('../img/GitHub-Mark-32px.png');
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    left: 30px;
    font-size: 40px;
    margin-top: 1rem;
}

.tabcontent a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.tabcontent a:active {
    color: rgb(240, 22, 240);
}